<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/snake-game.css" type="text/css">
    <title>Sanke</title>
  </head>
  <body>
    <header>
      <h1>Sanke</h1>
    </header>
    <p class="text-center">Movement:
      <span class="keyboard-key">W</span>
      <span class="keyboard-key">A</span>
      <span class="keyboard-key">&nbsp;S&nbsp;</span>
      <span class="keyboard-key">D</span>
      or
      <span class="keyboard-key">&#8592;</span>
      <span class="keyboard-key">&nbsp;&#8593;&nbsp;</span>
      <span class="keyboard-key">&#8594;</span>
      <span class="keyboard-key">&nbsp;&#8595;&nbsp;</span> |
      Start:
      <span class="keyboard-key">SPACE</span> |
      Restart:
      <span class="keyboard-key">&nbsp;R&nbsp;</span>
    </p>

    <div class="scoreboard">
    <h3 class="text-yellow text-center">Stats</h3>
    <hr>
    <ul>
      <li>Score: <span id="current-score" class="score-value">0</span></li>
      <li>Best: <span id="best-score" class="score-value">0</span></li>
      <li>SPM: <span id="score-per-move" class="score-value">0</span></li>
      <li>Moves: <span id="player-moves" class="score-value">0</span></li>
    </ul>
    <hr>
    <h3 class="text-yellow text-center">AI</h3>
    <ul>
      <li>Gen: <span id="ai-generations" class="score-value">0</span></li>
    </ul>
    <hr>
    <p class="text-center text-yellow masthead"><small>Made with <span class="text-red">&#10084;</span> by<br><a href="https://github.com/lassag" target="_blank">Lasse S. Tomssønn</a><br/>&<br/><a href="https://github.com/Northern-Web" target="_blank">Michael Sagnes</a></small></p>

    </div>

    <div id="snake-box" class="container">
      <canvas id="snake"></canvas>
    </div>
    <div class="right-container">
      <h3 class="text-yellow text-center">Settings</h3>
    </div>
  </body>


  <!--<script src="/scripts/snakeObject.js"></script>
  <script src="/scripts/mapObject.js"></script>
  <script src="/scripts/foodObject.js"></script>-->

  <script type="module" src="/scripts/canvas.js"></script>

</html>
